<section class="section-one">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 style="font-size: 65px;">Hi, I'm Eman Mostafa </h2>
                <h1 style="font-size: 50px;">Full-stack Developer</h1>
                <!-- <button class="btn btn-light" routerLink="#footer">Contact me!</button> -->
            </div>
            <div class="row justify-content-center contact">
                <h3>Contact me!</h3>
                <div>
                    <a href="https://www.linkedin.com/in/eman-mostafa-277bb919a/"
                     target="_blank"
                      class=" p-3">
                      <i class="fa fa-linkedin fs-3" aria-hidden="true"></i></a>
                    <a href="https://github.com/emanmostafa123" target="_blank" class=" p-3"><i class="fa fa-github fs-3" aria-hidden="true"></i></a>
                  </div>
                  <div> 
                    <h4>Mobile : <a href="tel:+201012205290" 
                        target="_blank">01012205290</a></h4>
                    <a href="mailto:mostafaeman787@gmail.com" 
                    target="_blank">mostafeman787@gmail.com</a>
                  </div>
            </div>
          
        </div>
    </div>
</section>



<section class="section-two">
    <div class="container">
        <div class="row">
            <div class="text-start col-lg-6 col-xs-12 col-sm-12 p-3">
                <h1 class="mb-4">About me!</h1> 
                <p>I'm a Creative bilingual full-stack developer skilled at creating
                    unique customer experience that highlights brand messaging.
                    Maintains up to date awareness of technological trends and
                    technological advances.</p> 
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12 p-3">
                <h1 class="mb-4">Education</h1>
                <p>-Bachelor of computer science | 2020 <br>
                    -Beni-suef University<br>
                    -Degree: Good <br>
                    -Certificate of passing Web Design
                     course from NTI - DigitalEgyptYouth

                    </p>
            </div>



        </div>
    </div>
</section>

<section class="section-three">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <h1 class="mb-4">Skills</h1>
                <p>
                    -HTML5 -CSS3<br>
                    - Bootstrap -JavaScript<br>
                    - Node.js -AngularJs<br>
                    -photoshop -UX/UI
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <h1 class="mb-4">Personal Skills</h1>
                <p>
                    -Communication and
                    Presentation Skills.<br>
                    -Time Management - Team
                    Work<br>
                    -Flexible And Update any Web
                    site code. 
                </p>
            </div>
        </div>
    </div>
</section>


<section class="section-four">
    <div class="container">
        <div class="row">
            <div class="text-center mb-5">
                <h1>Projects</h1>
            </div>
            
                <div class="row justify-content-center d-flex">
                    <div class="col-lg-4 col-xs-12 col-sm-12 servicecard text-center p-3  ">
                        <div class="servicecontent pro1">
                          <div class="servicestrart" style="padding: 70px 20px;">
                            <!-- <h2>Tradex</h2> -->
                            <!-- <img src="./Feature-Image-5.jpg" alt="pro1" > -->
                          </div>
                          <div class="servicehov justify-content-center px-3" style="padding-top: 21px; padding-bottom: 21px;">
                            <h2>Tradex</h2>
    
                            <p>In this project you can see many page that describe
                                space. using HTML, CSS, JavaScript,Bootstrap</p>
                            <button class="btn btn-primary btn-sm rounded-pill">
                                <a href="https://emanmostafa123.github.io/tradex/" 
                                class="text-light" 
                                style="text-decoration: none;"
                                target="_blank"
                                >View Project</a>
                            </button>
                            <br>
                            <br>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-12 servicecard text-center p-3  ">
                        <div class="servicecontent pro2">
                          <div class="servicestrart" style="padding: 70px 20px;">
                            <!-- <h2>Tradex</h2> -->
                            <!-- <img src="./Feature-Image-5.jpg" alt="pro1" > -->
                          </div>
                          <div class="servicehov justify-content-center px-3" style="padding-top: 21px; padding-bottom: 21px;">
                            <h2>World Blog</h2>
    
                            <p>In this project you can see many page that describe
                                space. using HTML, CSS, JavaScript</p>
                            <button class="btn btn-primary btn-sm rounded-pill">
                                <a href="https://emanmostafa123.github.io/world-blogtemplete/" 
                                class="text-light" 
                                style="text-decoration: none;"
                                target="_blank"
                                >View Project</a>
                            </button>
                            <br>
                            <br>
                          </div>
                        </div>
                           
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-12 servicecard text-center p-3  ">
                        <div class="servicecontent pro3">
                          <div class="servicestrart" style="padding: 70px 20px;">
                            <!-- <h2>Tradex</h2> -->
                            <!-- <img src="./Feature-Image-5.jpg" alt="pro1" > -->
                          </div>
                          <div class="servicehov justify-content-center px-3" style="padding-top: 21px; padding-bottom: 21px;">
                            <h2>Space-Toursim</h2>
    
                            <p>In this project you can see many page that describe
                                space. using HTML, CSS, JavaScript</p>
                            <button class="btn btn-primary btn-sm rounded-pill">
                                <a href="https://emanmostafa123.github.io/space-toursim-website-main/" 
                                class="text-light" 
                                style="text-decoration: none;"
                                target="_blank"
                                >View Project</a>
                            </button>
                            <br>
                            <br>
                          </div>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-xs-12 col-sm-12 servicecard text-center p-3  ">
                        <div class="servicecontent pro4">
                          <div class="servicestrart" style="padding: 70px 20px;">
                            <!-- <h2>Tradex</h2> -->
                            <!-- <img src="./Feature-Image-5.jpg" alt="pro1" > -->
                          </div>
                          <div class="servicehov justify-content-center px-3" style="padding-top: 21px; padding-bottom: 21px;">
                            <h2>Ecommerce-Product</h2>
    
                            <p>In this project you can see many page that describe
                                space. using HTML, CSS, JavaScript</p>
                            <button class="btn btn-primary btn-sm rounded-pill">
                                <a href="https://emanmostafa123.github.io/ecommerce-product-page-main/" 
                                class="text-light" 
                                style="text-decoration: none;"
                                target="_blank"
                                >View Project</a>
                            </button>
                            <br>
                            <br>
                          </div>
                        </div>
                        
                    </div> 
                    <div class="col-lg-4 col-xs-12 col-sm-12 servicecard text-center p-3  ">
                        <div class="servicecontent pro5">
                          <div class="servicestrart" style="padding: 70px 20px;">
                            <!-- <h2>Tradex</h2> -->
                            <!-- <img src="./Feature-Image-5.jpg" alt="pro1" > -->
                          </div>
                          <div class="servicehov justify-content-center px-3" style="padding-top: 21px; padding-bottom: 21px;">
                            <h3>Testimonials-Grid</h3>
    
                            <p>In this project you can see many page that describe
                                space. using HTML, CSS, JavaScript</p>
                            <button class="btn btn-primary btn-sm rounded-pill">
                                <a href="https://emanmostafa123.github.io/Testimonials-grid-section/" 
                                class="text-light" 
                                style="text-decoration: none;"
                                target="_blank"
                                >View Project</a>
                            </button>
                            <br>
                            <br>
                          </div>
                        </div>
                        
                    </div> 
                    <div class="col-lg-4 col-xs-12 col-sm-12 servicecard text-center p-3  ">
                        <div class="servicecontent pro6">
                          <div class="servicestrart" style="padding: 70px 20px;">
                            <!-- <h2>Tradex</h2> -->
                            <!-- <img src="./Feature-Image-5.jpg" alt="pro1" > -->
                          </div>
                          <div class="servicehov justify-content-center px-3" style="padding-top: 21px; padding-bottom: 21px;">
                            <h2>Chat-App</h2>
    
                            <p>In this project you can see many page that describe
                                space. using HTML, CSS</p>
                            <button class="btn btn-primary btn-sm rounded-pill">
                                <a href="https://emanmostafa123.github.io/Chat-app-CSS-illustration/" 
                                class="text-light" 
                                style="text-decoration: none;"
                                target="_blank"
                                >View Project</a>
                            </button>
                            <br>
                            <br>
                          </div>
                        </div>
                        
                    </div>

                    <div>
                        <h1>See all My Projects in Github</h1>
                        <button class="btn viewbtn  btn-sm rounded-pill   mt-5">
                            <a href="https://github.com/emanmostafa123" 
                            class="text-light fs-4 px-5" 
                            style="text-decoration: none; "
                            target="_blank"
                            >View</a>
                        </button>
                    </div>

                </div>
        </div>
    </div>
</section>



