<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center p-5">
            <h1>PROJECTS</h1>
        </div>

        <div class="row">
            <div class="col-12 p-5">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="./Feature-Image-5.jpg" class="img-fluid rounded-start" alt="tradex">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Tradex</h5>

                                <p class="text-muted"><small>TradeX is finance, corporate, business theme. TradeX is
                                        Clean, modern and
                                        professional Corporate theme. TradeX is perfect for any business, companies,
                                        agencies. TradeX can help you to showcase your services and projects in a
                                        professional way. TradeX theme is fully followed GDPR rules. Theme is fully
                                        responsive and works on all media devices. We are also providing one-click demo
                                        import so you can import data as it is as shown on the demo.</small></p>
                                <p class="card-text">In this project you can see many page that describe space. using
                                    HTML,
                                    CSS, JavaScript,Bootstrap</p>

                                <p class="card-text"><small class="text-muted">Updated</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-5">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="./pro2.jpg" class="img-fluid rounded-start" alt="World Blog">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">World Blog</h5>
                                <p class="text-muted"><small>World is a stunning and feature-rich responsive magazine
                                        website template. Many moving elements, infinite content load, and useful
                                        widgets call for an epic online magazine. It has it all in store for you to
                                        start hammering out compelling articles and create a place where everyone will
                                        love to hang out.</small></p>
                                <p class="card-text">In this project you can see many page that describe space. using
                                    HTML,
                                    CSS, JavaScript</p>
                                <p class="card-text"><small class="text-muted">Updated</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-5">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="./pro3.jpg" class="img-fluid rounded-start" alt="Space-Toursim">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Space-Toursim</h5>
                                <p class="text-muted"><small>Front-End Mentor Challenge</small></p>
                                <p class="card-text">In this project you can see many page that describe space. using
                                    HTML,
                                    CSS, JavaScript</p>
                                <p class="card-text"><small class="text-muted">Updated</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-5">
                <div class="card mb-3 ">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="./pro4.png" class="img-fluid rounded-start" alt="Ecommerce-Product">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Ecommerce-Product</h5>
                                <p class="text-muted"><small>Front-End Mentor Challenge</small></p>
                                <p class="card-text">In this project you can see many page that describe space. using
                                    HTML,
                                    CSS, JavaScript</p>
                                <p class="card-text"><small class="text-muted">Updated</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-5">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="./pro5.jpg" class="img-fluid rounded-start" alt="Testimonials-Grid">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Testimonials-Grid</h5>
                                <p class="text-muted"><small>Front-End Mentor Challenge</small></p>
                                <p class="card-text">In this project you can see many page that describe space. using
                                    HTML,
                                    CSS</p>
                                <p class="card-text"><small class="text-muted">Updated</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-5">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="./q5mhmif1tc0d9lpfaapz.jpg" class="img-fluid rounded-start" alt="Chat-App">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Chat-App</h5>
                                <p class="text-muted"><small>Front-End Mentor Challenge</small></p>
                                <p class="card-text">In this project you can see many page that describe space. using
                                    HTML,
                                    CSS</p>
                                <p class="card-text"><small class="text-muted">Updated</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>