<section>
    <div class="row justify-content-center contact">
        <h3>Contact me!</h3>
        <div>
            <a href="https://www.linkedin.com/in/eman-mostafa-277bb919a/"
             target="_blank"
              class=" p-3">
              <i class="fa fa-linkedin fs-3" aria-hidden="true"></i></a>
            <a href="https://github.com/emanmostafa123" target="_blank" class=" p-3"><i class="fa fa-github fs-3" aria-hidden="true"></i></a>
          </div>
          <div> 
            <h2>Mobile : <a href="tel:+201012205290" 
                target="_blank">01012205290</a></h2>
            <h2><a href="mailto:mostafaeman787@gmail.com" 
            target="_blank">mostafeman787@gmail.com</a></h2>
          </div>
    </div>
</section>