    <footer class="text-center   py-5" id="footer">
      <ul class="nav justify-content-center border-bottom ">
        <li class="nav-item"><a href="#" class="nav-link px-2  text-light">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2  text-light">Projects</a></li>
        
      </ul>
      <p class="text-center  text-light mt-3">Contact me!</p>
      <div>
        <a href="https://www.linkedin.com/in/eman-mostafa-277bb919a/" target="_blank" class="text-light p-3"><i class="fa fa-linkedin fs-3" aria-hidden="true"></i></a>
        <a href="https://github.com/emanmostafa123" target="_blank" class="text-light p-3"><i class="fa fa-github fs-3" aria-hidden="true"></i></a>
      </div>
      <div> 
        <h4 class="text-light">Mobile : 01012205290</h4>
        <a href="mailto:mostafaeman787@gmail.com" target="_blank" class="text-light">mostafeman787@gmail.com</a>
      </div>
    </footer>
  