@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');


footer{
    bottom:0!important;
    width: 100%!important;
    font-family: "Source Code Pro";
    background-color: #241c19!important;
}
